<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安全浏览器_皮肤</title>
<link href="style/skin.css" rel="stylesheet" />
</head>

<body>
<div class="tip" id="tip">
  <div class="tipt"> </div>
  <div class="tipc">
    <dl>
      <dt></dt>
      <dd> 很抱歉，我们目前尚不支持您的浏览器。您需要使用"360安全浏览器6.0"才能安装应用程序。<br>
        <a target="_blank" href="http://se.360.cn/v6/">下载 360安全浏览器6.0</a> </dd>
    </dl>
  </div>
  <div class="tipb"> </div>
</div>
<div class="head-warp">
  <div class="head">
    <h1><a href="http://se.360.cn/v6/">360安全浏览器</a></h1>
    <div class="nav-box">
      <ul>
        <li><a href="http://se.360.cn/v6/">首页</a></li>
        <li><a href="http://ext.se.360.cn/#home">扩展</a></li>
        <li class="cur"><a href="http://skin.se.360.cn/#home">皮肤</a></li>
        <li><a href="http://se.360.cn/v6/help/">帮助</a></li>
        <li><a href="http://bbs.360safe.com/forum.php?mod=forumdisplay&fid=141" target="_blank">论坛</a>
          <ul>
            <li><a href="http://e.weibo.com/360se" target="_blank">微博</a></li>
            <li style="text-align:center;"><a style="word-wrap:keep-all;margin:0 8px;" href="http://page.renren.com/699133638/index" target="_blank">人人网</a></li>
            <li><a href="http://bbs.360safe.com/forum.php?mod=forumdisplay&fid=141" target="_blank">论坛</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav-line"></div>
    </div>
  </div>
</div>
<div class="main clearfix">
  <div class="main-left fl">
    <div id="slides">
      <div class="slide_cont">
        <div class="slides"> <a href="#nogo"><img src="images/tmp.jpg" alt=""></a>
          <div class="slides-txt-bg"></div>
          <div class="slides-txt">1《粉色可爱》说明文字……</div>
        </div>
        <div class="slides"> <a href="#nogo"><img src="images/tmp01.jpg" alt=""></a>
          <div class="slides-txt-bg"></div>
          <div class="slides-txt">2《粉色可爱》说明文字……</div>
        </div>
        <div class="slides"> <a href="#nogo"><img src="images/tmp.jpg" alt=""></a>
          <div class="slides-txt-bg"></div>
          <div class="slides-txt">3《粉色可爱》说明文字……</div>
        </div>
        <div class="slides"> <a href="#nogo"><img src="images/tmp01.jpg" alt=""></a>
          <div class="slides-txt-bg"></div>
          <div class="slides-txt">4《粉色可爱》说明文字……</div>
        </div>
      </div>
    </div>
    <div class="skin">
      <div class="navi clearfix">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td><a class="cur router" href="javascript:;" path="home">所有皮肤</a></td>
              <td><a href="javascript:;" class="router" path="classic">经典皮肤</a></td>
            </tr>
          </tbody>
        </table>
        <span> 排序：<a href="javascript:;" class="sort" sortby="hot">按热度</a> <a href="javascript:;" class="sort" sortby="new">按时间</a> </span> </div>
      <div class="skin-lists">
        <ul id="skin-list">
        </ul>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="login">
      <div class="unlogin"><a class="login-btn" href="javascript:;">登录</a>
        <h2>我使用过的皮肤</h2>
        <p>（登陆后可见）</p>
      </div>
      <div class="logined">
        <div class="login-user"> <img src="images/tmp02.jpg" alt="" />
          <p><span class="username"></span> 
            <!--          <br><a href="#nogo">个人中心</a> | <a href="#nogo">退出</a>--></p>
        </div>
        <h2>我使用过的皮肤</h2>
        <ul class="myskin">
          <li> <a href="#nogo">愤怒的小鸟</a>
            <div>
              <h6>愤怒的小鸟<a href="#">使用此皮肤</a></h6>
              <img src="images/tmp03.jpg">
              <p>作者：小甜甜</p>
            </div>
          </li>
          <li> <a href="#nogo">仙人掌之旅</a>
            <div>
              <h6>仙人掌之旅<a href="#">使用此皮肤</a></h6>
              <img src="images/tmp03.jpg">
              <p>作者：小甜甜</p>
            </div>
          </li>
          <li> <a href="#nogo">Chrome</a>
            <div>
              <h6>Chrome<a href="#">使用此皮肤</a></h6>
              <img src="images/tmp03.jpg">
              <p>作者：小甜甜</p>
            </div>
          </li>
          <li> <a href="#nogo">6.0默认皮肤</a>
            <div>
              <h6>6.0默认皮肤<a href="#">使用此皮肤</a></h6>
              <img src="images/tmp03.jpg">
              <p>作者：小甜甜</p>
            </div>
          </li>
          <li> <a href="#nogo">巨蟹座皮肤</a>
            <div>
              <h6>巨蟹座皮肤<a href="#">使用此皮肤</a></h6>
              <img src="images/tmp03.jpg">
              <p>作者：小甜甜</p>
            </div>
          </li>
        </ul>
        <div class="skin-view">
          <h3>仙人掌之旅<a href="#nogo">使用此皮肤</a></h3>
          <img src="images/tmp03.jpg" alt="" />
          <p>作者：小甜甜</p>
        </div>
      </div>
    </div>
    <div class="oth">
      <h2>优秀作者皮肤介绍</h2>
      <div class="user"> <img src="style/img/YingFengLing_LOGO.jpg" alt="" />
        <p>姓名：<span>YingFengLing</span><br>
          作品：<span>《紫夜魅影》</span></p>
      </div>
      <dl>
        <dt>简介：</dt>
        <dd>Designer~</dd>
      </dl>
      <dl>
        <dt>微博：</dt>
        <dd><a href="http://weibo.com/yingfengling" target="_blank">weibo.com/yingfengling</a></dd>
      </dl>
    </div>
  </div>
</div>
<div class="footer">
  <p>Copyright©2005-2012 360.CN All Rights Reserved 360安全中心<br>
    隐私权政策 京ICP证080047号 </p>
</div>
<div class="dialog-bg" style=""></div>
<div class="dialog" style="" id="dialog02"> <a id="closed-btn" href="javascript:;" title="关闭">×</a>
  <div class="dialog-cont">
  </div>
</div>
</div>
<script type="text/template" id="skin-detail">
    <div class="dialog-head">
      <div class="f-txt">
        <h2><%= title %></h2>
        <div class="f-infor"> 作者：<%= author %> | 已有<%= num %>人使用
          | <a href="">分享到微博</a> </div>
        <span class="error">安装失败</span><a class="download-btn skin-btn install-skin" key="<%= id %>" href="javascript:;">使用此皮肤</a><span class="loading"></span> </div>
    </div>
    <div class="skin-cont clearfix"> <img src="<%= detailurl %>">
      <p><span>简介：</span><%= content %></p>
    </div>
</script>>
<script type="text/template" id="skin-item">
  <li class="showdetail" key="<%= id %>">
	<h2><%= title %><span>作者：<%= author %></span></h2>
	<img src="<%= logourl %>">
	<p><span class="num">已有<%= num %>人使用</span><span class="error">安装失败</span><a class="install-skin" key="<%= id %>" ver="<%= skinversion %>" skinurl="<%= skinurl %>" href="javascript:;">使用此皮肤</a><span class="loading"></span></p>
  </li>
</script>
<script src="js/jquery.js"></script> 
<script src="js/slide.js"></script> 
<script src="js/backbone.js"></script> 
<script src="js/se6api.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
