@charset "utf-8";

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border:0;
}

button, .button,
input[type='button'],
input[type='submit'] {
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none; -moz-user-select: none; user-select: none;
  background: -webkit-linear-gradient(#84AFF9, #3079ED); 
  background: -moz-linear-gradient(#84AFF9, #3079ED);
  border: 1px solid #2570EB;
  color: #fff;
  margin-bottom: 0px;
  min-width: 4em;
  line-height:1.4em;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(#69A5F6, #5597F0);
  background: -moz-linear-gradient(#69A5F6, #5597F0);
  border-color: #4B90EE;
}

button:active,
input[type='button']:active,
input[type='submit']:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2); box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(#69A5F6, #5597F0);
  background: -moz-linear-gradient(#69A5F6, #5597F0);
}

button[disabled],
input[type='button'][disabled],
input[type='submit'][disabled],
button[disabled]:hover,
input[type='button'][disabled]:hover,
input[type='submit'][disabled]:hover {
  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
  background: -webkit-linear-gradient(#A4CCF9, #9AC5F5); 
  background: -moz-linear-gradient(#A4CCF9, #9AC5F5);
  border-color: #93BEF4;
}