<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="F:\tools\PHP\php-5.2\php5isapi.dll" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
