<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>扩展中心 - 360极速浏览器</title>
<link href="/css/ext.css" rel="stylesheet">
</head>

<body>
<div class="head-warp">
  <div class="head">
    <h1><a href="http://chrome.360.cn/">360极速浏览器</a></h1>
    <div class="nav-box">
      <ul>
        <li><a href="http://chrome.360.cn/">首页</a></li>
        <li><a href="http://chrome.360.cn/labs.html">实验室</a></li>
        <li class="cur"><a href="https://ext.chrome.360.cn">扩展</a></li>
        <li><a href="https://skin.chrome.360.cn/">皮肤</a></li>
        <li><a href="http://chrome.360.cn/newuplog.html">日志</a></li>
        <li><a href="http://chrome.360.cn/help/index.html">帮助</a></li>
        <li><a href="http://bbs.chrome.360.cn" target="_blank">论坛</a></li>
        <li class="last"><a href="http://www.360.cn/" target="_blank">360首页&gt;&gt;</a></li>
      </ul>
      <div class="nav-line" style="left: 118px; width: 52px; "></div>
    </div>
    <div class="space"></div>
  </div>
</div>
<div id="bd">
  <div class="bdr">
    <div id="side">
      <ul id="category-type">
        <li><a href="http://open.chrome.360.cn/" target="_blank"><img src="/css/img/icon08.png">开发者中心</a></li>
        <li><a href="javascript:;" id="myextensions"><img src="/css/img/icon09.png">管理扩展</a></li>
        <li><a href="https://ext.chrome.360.cn/webstore/skip" target="_blank"><img src="/css/img/icon09.png">Chrome<br>网上应用店</a></li>
      </ul>
    </div>
    <div id="content" class="clearfix">
      <div class="content-m fl">
        <div id="slides" class="slides">
          <div class="slides-box">
            <ul>
              <li><a href="javascript:;"><img src="http://p5.qhimg.com/d/360browser/20121119/adblock_b.png"></a></li>
              <li><a href="javascript:;"><img src="http://p3.qhimg.com/d/360browser/20121121/yunpan.jpg"></a></li>
              <li><a href="javascript:;"><img src="http://p6.qhimg.com/d/360browser/20121206/express.png"></a></li>
              <li><a href="javascript:;"><img src="http://p4.qhimg.com/d/360browser/20121017/592-272-login.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="ext-lists">
          <ul class="app-list">
          </ul>
          <div class="loading-tip" style="width: 100%; height: 180px; text-align: center; ">
            <div class="spinner" style="width: 232px;height: 32px;background: url('http://w.qhimg.com/images/v2/chrome/2012/03/30/loading.gif') no-repeat;display: inline-block;line-height:34px;color:#888;">正在搜索中，请稍候...</div>
          </div>
        </div>
      </div>
      <div class="content-r fr">
        <div class="search">
          <form action="">
            <input type="text" value="" />
            <button>搜索</button>
          </form>
          <p>搜索热词：<a href="javascript:;">游戏工具</a><a href="javascript:;">购物比价</a></p>
        </div>
        <div class="list-box">
          <h2>本周热门<a href="javascript:;">更多</a></h2>
          <ul>
            <li>
              <div class="s-num"><span>1</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns s-insting-btns" href="javascript:;">安装中</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>2</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>3</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>4</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>5</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>6</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>7</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>8</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>9</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>10</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="list-box">
          <h2>最受欢迎<a href="javascript:;">更多</a></h2>
          <ul>
            <li>
              <div class="s-num"><span>1</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns s-insting-btns" href="javascript:;">安装中</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>2</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>3</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>4</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>5</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>6</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>7</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>8</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>9</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>10</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="list-box">
          <h2>最新入库<a href="javascript:;">更多</a></h2>
          <ul>
            <li>
              <div class="s-num"><span>1</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns s-insting-btns" href="javascript:;">安装中</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>2</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>3</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>4</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>5</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>6</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>7</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>8</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>9</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
            <li>
              <div class="s-num"><span>10</span>360游戏</div>
              <dl>
                <dt><img src="http://w.qhimg.com/images/v2/chrome/2012/04/18/npgame.png"></dt>
                <dd>
                  <h3>360游戏</h3>
                  <p>12860次安装</p>
                  <a class="s-btns" href="javascript:;">安装</a> </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a id="go-top" href="javascript:;"><span>返回顶部</span></a> </div>
<div id="footer">
  <p>Copyright©2005-2012 360.CN All Rights Reserved 360安全中心<br>
    隐私权政策 京ICP证080047号 </p>
</div>
<div class="dialog-bg" style="display:none;"></div>
{literal} 
<script type="text/template" id="template-view-ext">
	  <dl>
		<dt><img src="<%= logo %>" title="<%= name %>"></dt>
		<dd>
		  <h2 title="<%= name %>"><%= name %></h2>
		  <p>版本号：<%= version %></p>
		</dd>
	  </dl>
	  <div extid="<%= crx_id %>" class="ext-btns"> <a class="btns fl <%= ({"install":"add-btn","installed":"installed-btn","update":"update-btn"})[status] %>" href="javascript:;"><%= ({"install":"安装","installed":"已安装","update":"可更新"})[status] %></a>
		<p><%= shortdesc||"简短说明" %></p>
	  </div>
    <!--<div class="ext-block" extid="<%= crx_id %>">
		<a class="ext-logo"><span class="<%= ({"install":"install","installed":"installed","update":"update"})[status] %> "></span>
			<div style="width:148px;height:87px;background:#f4f4f4;"><img src="<%= logo %>" style="margin:auto auto;top:50%;left:50%;position:absolute;margin-top:-24px;margin-left:-24px;" width="48" height="48"></div>
		</a>
        <h1><%= name %></h1>
        <p class="first-info"><%= shortdesc||"简短说明" %></p>
        <p class="two-info"><span style="display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><%= author %></span>
          版本号：<%= version %><br>
          更新于：<%= _lastupdate %></p>
        <p><a class="ext-btn <%= ({"install":"add-btn","installed":"installed-btn","update":"update-btn"})[status] %> ">增加到浏览器</a></p>
    </div>-->
</script> 
<script type="text/template" id="template-view-ext-search">
    <div class="ext-block-search" extid="<%= crx_id %>">
        <a href="/webstore/detail/<%= crx_id %>" target="_blank">
            <img src="<%= logo %>" alt="<%= shortdesc %>" width="48" height="48">
        </a>

        <div class="txt">
            <h3><a href="/webstore/detail/<%= crx_id %>" target="_blank"><%= name %></a></h3>

            <p><%= shortdesc||"shortdesc" %></p>

            <p><%= author %></p>
        </div>
        <div class="star"><span style="width:<%= parseInt(hot) %>%;"></span></div>
        <a class="btn <%= ({"install":"add-btn","installed":"installed-btn","update":"update-btn"})[status] %>" href="javascript:void(0)"><span>╋</span> <%= ({"install":"安装到浏览器","installed":"已添加此扩展","update":"更新此扩展"})[status] %></a>
    </div>
</script> 
<script type="text/template" id="template-view-detail">
<div class="dialog dialog01" style="" > <a id="closed-btn" href="" title="关闭">×</a>
  <div class="dialog-cont">
	<div class="detail-ext-wrapper"></div>
	<div class="ext-list-wrapper">
		<div class="tab-btn">
			<a class="prev dir-btn" href="#nogo"></a><a class="next dir-btn " href="#nogo"></a>
			<div class="btn-list"><ul></ul></div>
		</div>
	</div>
  </div>
</div>
</script> 
<script type="text/template" id="template-view-ext-detail">
	<div class="dialog_detail" extid="<%= crx_id %>">
    <div class="dialog-head"> <img class="ext-img fl" src="<%= logo %>" alt="">
      <div class="f-txt">
        <h2><%= name %></h2>
        <div class="f-infor">
          <div class="star"><span style="width:<%= parseInt(hot) %>%;"></span></div>
           <a class="weiboshare" href="" style="display:none;">| 分享到微博</a> </div>
        <a class="download-btn <%= ({"install":"add-btn","installed":"installed-btn","update":"update-btn"})[status] %>" href="">添加到浏览器</a> </div>
    </div>
    <div class="tab-cont clearfix">
      <div class="slide-box fl" id="slides">
        <div class="slide-cont">
		<% _.each(descpic,function(pic,index){ %><p class="slides"><img index="<%= index %>" class="slide-control-img" src="<%= pic %>" alt=""/></p><% }); %>		
        </div>
		<ul class="pagination">
		<% _.each(descpic,function(pic,index){ %><li><a hidefocus="">"<%= index %>" </a></li><% }); %>		
		</ul>
      </div>
      <div class="ext-info fr">
        <h2><%= name %><span><% _.each(cates,function(cate){%>
							<a href="javascript:void(0);" onclick="Dialoghandler.cates(this)"><%= cate||"全部分类" %></a>
							<% }); %> | 来自 <%= author %></span></h2>
        <p style="word-wrap:break-word;"><%= moredesc %></p>
      </div>
    </div>
	</div>
</script> 
<script type="text/template" id="template-view-category">
	<div>
	</div>
</script> 
<script type="text/template" id="template-category-type">
	<li><a class="cat" href="javascript:;" type="<%= catetype %>"><img src="/css/img/icon<%= icon %>.png"><%= catename %></a></li>
</script> 
{/literal} 
<script>
var _ExtCate={$cateJson};
var __initData = {$initData};
var __islogined='{$islogined}';
var __aurl='{$aurl}';
</script> 
<script src="/js/jquery.js"></script> 
<script src="/js/slide.js"></script> 
<script src="/js/jqModal.js"></script> 
<script src="/js/underscore-1.1.6.js"></script> 
<script src="/js/backbone.js"></script> 
<script src="/js/index.js"></script> 
<script src="/js/main.js"></script>
</body>
</html>
