<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>360皮肤中心</title>
<link href="style/skin.css" rel="stylesheet" />
</head>

<body>
<div class="tip" id="tip">
  <div class="tipt"> </div>
  <div class="tipc">
    <dl>
      <dt></dt>
      <dd> 温馨提示，您的浏览器版本过低或暂不支持皮肤功能，请使用最新版360安全浏览器。<br>
        <a target="_blank" href="http://down.360safe.com/se/360se6_setup.exe">下载 360安全浏览器6.0</a> </dd>
    </dl>
  </div>
  <div class="tipb"> </div>
</div>
<div class="head-warp">
  <div class="head">
    <h1><a href="http://se.360.cn/v6/">360安全浏览器</a></h1>
    <div class="nav-box">
      <ul>
        <li><a href="http://se.360.cn/v6/">首页</a></li>
        <li><a href="http://ext.se.360.cn/#home" target="_blank">扩展</a></li>
        <li class="cur"><a href="http://skin.se.360.cn/#home">皮肤</a></li>
        <li><a href="http://se.360.cn/v6/help/" target="_blank">帮助</a></li>
        <li><a href="http://bbs.360safe.com/forum.php?mod=forumdisplay&fid=141" target="_blank">论坛</a>
          <ul>
            <li><a href="http://e.weibo.com/360se" target="_blank">微博</a></li>
            <li style="text-align:center;"><a style="word-wrap:keep-all;margin:0 8px;" href="http://page.renren.com/699133638/index" target="_blank">人人网</a></li>
            <li><a href="http://bbs.360safe.com/forum.php?mod=forumdisplay&fid=141" target="_blank">论坛</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav-line"></div>
    </div>
  </div>
</div>
<div class="main clearfix">
  <div class="main-left fl">
    <div class="skin">
      <div class="skin-lists">
        <ul id="skin-list">
        </ul>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="login">
      <div class="logined">
        <h2>您可能喜欢的皮肤</h2>
        <ul class="myskin">
        </ul>
      </div>
    </div>
    <div class="oth">
      <h2>优秀皮肤作者介绍</h2>
      <div class="user"> <img src="style/img/YingFengLing_LOGO.jpg" alt="" />
        <p>姓名：<span>YingFengLing</span><br>
          作品：<span>《紫夜魅影》</span></p>
      </div>
      <dl>
        <dt>简介：</dt>
        <dd>Designer~</dd>
      </dl>
      <dl>
        <dt>微博：</dt>
        <dd><a href="http://weibo.com/yingfengling" target="_blank">weibo.com/yingfengling</a></dd>
      </dl>
    </div>
  </div>
</div>
<div class="footer">
  <p>Copyright©2005-2012 360.CN All Rights Reserved 360安全中心<br>
    隐私权政策 京ICP证080047号 </p>
</div>
<div class="dialog-bg" style=""></div>
<div class="dialog" style="" id="dialog02"> <a id="closed-btn" href="javascript:;" title="关闭">×</a>
  <div class="dialog-cont">
  </div>
</div>
</div>
<script type="text/template" id="skin-detail">
    <div class="dialog-head">
      <div class="f-txt">
        <h2 title="<%= title %>"><%= title %></h2>
        <div class="f-infor"> 作者：<span title="<%= author %>"><%= shortAuthor %></span> | 已有<%= num %>人使用
          | <a href="http://service.weibo.com/share/share.php?url=<%= encodeURIComponent('http://skin.se.360.cn/#detail/' + id) %>&appkey=&title=<%= encodeURIComponent('我刚发现的@360安全浏览器 皮肤"' + title + '"你喜欢吗？更换漂亮的皮肤，拥有美丽的心情，快来试试吧！') %>&pic=<%= detailurl %>" target="_blank">分享到微博</a> </div>
        <span class="error">安装失败</span><a class="download-btn skin-btn install-skin" key="<%= id %>" ver="<%= skinversion %>" skinurl="<%= skinurl %>" href="javascript:;">使用此皮肤</a><span class="loading"></span> </div>
    </div>
    <div class="skin-cont clearfix"> <img src="<%= detailurl %>">
      <p title="<%= content %>"><span>简介：</span><%= shortContent %></p>
    </div>
</script>
<script type="text/template" id="skin-item">
  <li class="showdetail" key="<%= id %>">
	<h2><em title="<%= title %>"><%= title %></em><span>作者：<%= author %></span></h2>
	<img src="<%= logourl %>">
	<p><span class="num">已有<%= num %>人使用</span><span class="error">安装失败</span><a class="install-skin" key="<%= id %>" ver="<%= skinversion %>" skinurl="<%= skinurl %>" href="javascript:;"><% if(se6api.IsSE6()){print('使用此皮肤')}else{print('适用于360安全浏览器')} %></a><span class="loading"></span></p>
  </li>
</script>
<script type="text/template" id="myskin-item">
  <li class="showdetail" key="<%= id %>"> <a href="javascript:;"><%= title %></a>
	<div>
	  <h6><em title="<%= title %>"><%= title %></em><span class="error">安装失败</span><a class="install-skin" key="<%= id %>" ver="<%= skinversion %>" skinurl="<%= skinurl %>" href="javascript:;"><% if(se6api.IsSE6()){print('使用此皮肤')}else{print('适用于360安全浏览器')} %></a><span class="loading"></span></h6>
	  <img src="<%= logourl %>">
	  <p>作者：<%= author %></p>
	</div>
  </li>
</script>
<script src="js/jquery.js"></script> 
<script src="js/slide.js"></script> 
<script src="js/backbone.js"></script> 
<script src="js/se6api.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
